/* Todo Form */
#todo-form {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
#todo-form input {
    background: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 16px;
    outline: none;
    padding: 8px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    min-width: 200px;
    width: 100%;
}
#todo-form input:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#todo-form button {
    background: #ff4136;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    padding: 8px 16px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#todo-form button:hover {
    background: #ff6547;
}
#todo-form button:active {
    background: #ff4136;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/* Progress Bar */
#todo-progress {
    width: 100%; /* Make the progress bar take up the full width of the container */
    height: 20px; /* Set the height of the progress bar */
    background-color: #2ecc71; /* Set the background color to a green color */
    transition: width 0.2s ease-in-out; /* Add a transition to the width property to animate the width change when it's updated */
    border-radius: 10px; /* Add rounded corners to the progress bar */
    overflow: hidden; /* Hide any content that exceeds the progress bar's width or height */
    margin-block: 10px;
}




/* Todo List */
#todo-list {
    list-style: none;
    padding: 0;
    margin-inline: 10px;
}

/* Todo Item */
.todo {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.todo:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.todo input[type="checkbox"] {
    margin-inline: 8px;
    cursor: pointer;
}
.todo span {
    flex-grow: .86;
    font-size: 16px;
    line-height: 20px;
}
.todo.completed span {
    text-decoration: line-through;
    color: gray;
}
.todo button {
    background: transparent;
    border: none;
    color: #ff4136;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
}